<p>busqueda-personaje works!</p>
<div class="container">
   
    <div class="row g-3 mt-2">
        <div class="col-12 col-md-6 col-lg-3  mb-2 " *ngFor="let personaje of personajes" 
       >
            <div class="card border border-dark"  [routerLink]="['/detalle/' + personaje.id]"
            routerLinkActive="router-link-active" >
                <img [src]=personaje.image style="height: 100% ; width: 100%;" alt="" class="card-img-top">
                <div class="card-body">
                    <div class="card-title text-center">
                        <strong>{{personaje.name}}</strong>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item " [ngClass]="{'text-danger': personaje.status =='Dead' ,
                        'text-success': personaje.status =='Alive',
                        'text-warning': personaje.status =='unknown'}">
                            Estatus: {{personaje.status}}</li>
                        <li class="list-group-item">Especie: {{personaje.species}}</li>
                        <li class="list-group-item">Genero: {{personaje.gender}}</li>
                        <li class="list-group-item">Origen: {{personaje.origin.name}}</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>