
<div class="container">
    <div class="row">
        <div class="col">
            <app-search   (onEnter)="buscarPersonajes( $event)" ></app-search>
        </div>
        <div class="col">
            <button type="button" (click)="obtenerPersonajes()" class="btn btn-info">Limpiar</button>
        </div>
      </div>
    
    <div class="row mt-2">
        <h4>Paginas: {{numeroPaginas}}</h4>
        <h4>Numero paginas: {{actualPagina}}</h4>
    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <button type="button" (click)="anteriorPagina()" class="btn btn-danger me-2"
            [disabled]="actualPagina==1">Anterior</button>
        <button type="button" (click)="siguientePagina()" class="btn btn-primary me-2"
            [disabled]="actualPagina==numeroPaginas">Siguiente</button>
    </div>

    <div class="row g-3 mt-2">
        <app-personaje-card [personajes]="personajes"></app-personaje-card>
    </div>
</div>