<div class="container">
    <div class="row">
        <div class="col">
            <app-search (onEnter)="buscarPersonajes( $event)"></app-search>
        </div>
        <div class="col">
            <button type="button" (click)="obtenerPersonajes()" class="btn btn-info">Limpiar</button>
        </div>
    </div>

   
    
    <div class="row mb-3" *ngIf="busquedaView">
            <h4>Paginas: {{numeroPaginas}}</h4>
            <h4>Numero paginas: {{actualPagina}}</h4>
        <div class="btn-toolbar mt-2" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" (click)="anteriorPagina()" class="btn btn-danger me-2"
                [disabled]="actualPagina==1">Anterior</button>
            <button type="button" (click)="siguientePagina()" class="btn btn-primary me-2"
                [disabled]="actualPagina==numeroPaginas">Siguiente</button>
        </div>

    </div>

    <div class="row g-3 mb-3" *ngIf="!error;then Personajes; else noPersonajes"></div>

    <ng-template class="text-success mt-2" #Personajes>
        <app-personaje-card [personajes]="personajes"></app-personaje-card>
    </ng-template>

    <ng-template class="text-success mt-3" #noPersonajes>
        <div class="alert alert-warning" role="alert">
            No existe el Personaje
        </div>
    </ng-template>
</div>